<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <div id="gridWrapper">
	      	<div class="flipBtnWrapper">
			    <input class="flipBtn_checkbox" type="checkbox" checked="true"/>
			    <div class="flipBtn demo3">
			      <div class="flipBtn_face flipBtn_back demo3"></div>
			      <div class="flipBtn_face flipBtn_mid demo3"></div>
			      <div class="flipBtn_face flipBtn_front demo3"><h3>JUGADOR 1</h3><H2>$300</H2></div>
			    </div>
			  </div>
	      	<div class="flipBtnWrapper">
			    <input class="flipBtn_checkbox" type="checkbox"checked="true"/>
			    <div class="flipBtn demo3">
			      <div class="flipBtn_face flipBtn_back demo3"></div>
			      <div class="flipBtn_face flipBtn_mid demo3"></div>
			      <div class="flipBtn_face flipBtn_front demo4"><h3>JUGADOR 2</h3><H2>$250</H2></div></div>
			    </div>
			  </div>
	</div>
    <div id="gridWrapper">
	      	<div class="flipBtnWrapper">
			    <input class="flipBtn_checkbox" type="checkbox" checked="true"/>
			    <div class="flipBtn demo3">
			      <div class="flipBtn_face flipBtn_back demo3"></div>
			      <div class="flipBtn_face flipBtn_mid demo3"></div>
			      <div class="flipBtn_face flipBtn_front demo3"><h3>JUGADOR 1</h3><H2>$300</H2></div>
			    </div>
			  </div>
	      	<div class="flipBtnWrapper">
			    <input class="flipBtn_checkbox" type="checkbox"checked="true"/>
			    <div class="flipBtn demo3">
			      <div class="flipBtn_face flipBtn_back demo3"></div>
			      <div class="flipBtn_face flipBtn_mid demo3"></div>
			      <div class="flipBtn_face flipBtn_front demo4"><h3>JUGADOR 2</h3><H2>$250</H2></div></div>
			    </div>
			  </div>
	</div>
    </ion-list>
  </ion-content>
</ion-view>
